.login-container {
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #FFDE59;
}

.login-container header {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: title-appearing-from-up 2s;
}

@keyframes title-appearing-from-up {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0);
    }
}

.login-container header h1 {
    font-size: 75px;
    font-weight: bold;
    font-family: 'VT323', monospace;

    color: #FFF;
}

.login-container main {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container main div {
    width: 40%;

    display: flex;
    justify-content: flex-end;
}

.login-container main div img {
    width: 300px;

    animation: img-appearing-from-left 2s;
}

@keyframes img-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.login-container form {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.login-container form input {
    width: 500px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'VT323', monospace;
    font-size: 35px;
    text-align: center;
    color: #FFF;

    border: none;
    border-bottom: 2px solid #FFF;

    background-color: transparent;

    animation: form-appearing-from-right 2s;
}

@keyframes form-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.login-container form input::placeholder {
    color: #FFF;
}

.login-container form button {
    width: 250px;
    height: 60px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    border: none;
    background-color: #FF0000;

    cursor: pointer;

    animation: button-form-appearing-from-down 2s;
}

.login-container form button:hover {
    color: #FF0000;
    background-color: #FFF;
}

@keyframes button-form-appearing-from-down {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .login-container form input {
        width: 450px;
    }

    .login-container main div img {
        width: 280px;
    }

    .login-container form button {
        font-size: 28px;
    }
}

@media (max-width: 850px) {
    .login-container form input {
        width: 380px;
    }
}