.login-container {
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #FFDE59;
}

.login-title {
    width: 100vw;

    display: flex;
    justify-content: center;

    animation: title-appearing-from-up 2s;
}

@keyframes title-appearing-from-up {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0);
    }
}

.login-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 75px;
}

.login-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;

    width: 100vw;
    height: 90vh;
}

.login-main-img {
    width: 40%;

    display: flex;
    justify-content: flex-end;
}

.login-main-img img {
    width: 300px;

    animation: img-appearing-from-left 2s;
}

@keyframes img-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-login {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    overflow-y: hidden;
}

.form-login input {
    animation: form-appearing-from-right 2s;
}


@keyframes form-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-login input {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'VT323', monospace;
    font-size: 35px;
    text-align: center;
    color: #FFF;

    border-top: none;
    border-bottom: 2px solid #FFF;
    border-left: none;
    border-right: none;


    background-color: transparent;
    width: 500px;
    height: 60px;
}

.form-login input::placeholder {
    color: #FFF;
}

.form-login button {
    width: 250px;
    height: 60px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    border: none;
    background-color: #FF0000;

    cursor: pointer;

    animation: button-form-appearing-from-down 2s;
}

.form-login button:hover {
    color: #FF0000;
    background-color: #FFF;
}

@keyframes button-form-appearing-from-down {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .login-main {
        flex-direction: row;
    }

    .login-title h1 {
        color: #FFF;
        font-weight: bold;
        font-family: 'VT323', monospace;
        font-size: 90px;
    }

    .login-main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100vw;
        height: 80vh;
    }

    .login-main-img img {
        width: 350px;

        animation: img-appearing-from-left 2s;
    }

    .form-login input {
        font-size: 40px;

        border-bottom: 4px solid #FFF;

        width: 450px;
        height: 60px;
    }

    .form-login input::placeholder {
        font-size: 40px;
    }

    .form-login button {
        width: 350px;
        height: 75px;

        font-size: 45px;
    }
}

@media (max-width: 1000px) {
    .login-title h1 {
        color: #FFF;
        font-weight: bold;
        font-family: 'VT323', monospace;
        font-size: 90px;
    }

    .login-main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100vw;
        height: 80vh;
    }

    .login-main-img img {
        width: 350px;

        animation: img-appearing-from-left 2s;
    }

    .form-login input {
        font-size: 50px;

        border-bottom: 4px solid #FFF;

        height: 60px;
    }

    .form-login button {
        width: 350px;
        height: 80px;

        font-size: 45px;
    }
}

@media (max-width: 600px) {
    .login-main {
        flex-direction: column;
    }

    .login-title h1 {
        font-size: 65px;
    }

    .form-login input {
        font-size: 38px;

        width: 450px;
        height: 45px;
    }

    .form-login input::placeholder {
        font-size: 38px;
    }

    .createAccount-main-img img {
        width: 450px;
        animation: img-appearing-from-left 2s;
    }

    .form-login button {
        width: 350px;
        height: 80px;

        font-size: 40px;
        color: #FFF;

        animation: button-form-appearing-from-down 2s;
    }
}