.request-card {
    width: 400px;
    height: auto;

    background-color: #DCDCDC;

    border-radius: 10px;

    padding-inline: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 50px;
}

.request-card h1 {
    font-size: 35px;
    font-family: 'VT323', monospace;

    margin-bottom: 10px;
}

.request-card h2 {
    font-size: 28px;
    font-family: 'VT323', monospace;

    font-weight: 400;

    margin-bottom: 15px;
}

.requests-info {
    width: 100%;

    border: none;
    border-top: 2px solid #000;

    padding-top: 15px;
    padding-bottom: 15px;
}

.requests-info h2 {
    font-size: 32px;
    font-family: 'VT323', monospace;
    font-weight: 500;
}

.requests-info h3 {
    font-size: 25px;
    font-family: 'VT323', monospace;
    font-weight: 500;
}

.request-button-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;

    border-top: 2px solid #000;
}

.request-button-container .apply {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;

    width: 170px;
    height: 50px;

    font-family: 'VT323', monospace;
    font-size: 28px;
    color: #FFF;

    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;

    margin-top: 25px;
}

.request-button-container .apply:hover {
    border: 2px solid #00FF00;
}