* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePage-container {
    background-color: #FFDE59;

    overflow-x: hidden;
    overflow-y: hidden;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100vw;
    height: 15vh;

    animation: header-appearing-from-up 2s;
}

@keyframes header-appearing-from-up {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(0);
    }
}

.header-container .link {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
}

.logo .icon {
    width: 50px;
    height: 50px;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.actions p {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'VT323', monospace;
}

.actions .create-account:hover {
    text-decoration: underline;
}

.actions .enter {
    background-color: #FF0000;
    padding: 6px;
}

.actions .enter:hover {
    background-color: #FFF;
    color: #FF0000;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 100vw;
    height: 65vh;
}

.main-container-title {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 80px;
    animation: title-appearing-from-left 2s;
}

@keyframes title-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.snacks-img {
    width: 300px;
    animation: snacks-appearing-from-right 2s;
}

@keyframes snacks-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.see-menu {
    display: flex;
    justify-content: center;
    height: 20vh;
}

.see-menu .link-button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-family: 'VT323', monospace;
    color: #FFF;

    background-color: #FF0000;
    border: none;
    text-decoration: none;

    width: 200px;
    height: 70px;
}

.see-menu .link-button:hover {
    background-color: #FFF;
    color: #FF0000;
}

.see-menu .link-button {
    animation: button-appearing-from-down 2s;
}

@keyframes button-appearing-from-down {
    from {
        transform: translateY(400px);
    }

    to {
        transform: translateY(0px);
    }
}