.card {
    width: 350px;
    height: 460px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 25px;

    padding: 30px;

    border: #A9A9A9 solid 3px;

    background-color: #FF0000;
}

.card h2 {
    font-family: 'VT323', monospace;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #F7F9F9;
}

.card p {
    font-family: 'VT323', monospace;
    text-align: justify;
    font-weight: bold;
    font-size: 28px;
    color: #000;
}

.card h3 {
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

.card img {
    width: 130px;
}

.card button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    
    align-self: center;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    background-color: transparent;
    border: #FFF 2px solid;

    cursor: pointer;
}

.card button:hover {
    background-color: #FFF;
    color: #FF0000;
}

.card button {
    width: 200px;
    height: 45px;
    
    font-family: 'VT323', monospace;
    font-size: 26px;
    color: #008000;
    
    background-color: transparent;
    border: #FFF 2px solid;

    border-radius: 5px;

    cursor: pointer;
}

.card button:hover{
    background-color: #FFF;
    color: #008000;
}

.card .link {
    text-decoration: none;
    color: #008000;
}