.card {
    width: 350px;
    height: 480px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 35px;

    border: #A9A9A9 solid 3px;

    background-color: #FF0000;
}

.card-update-info {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.card-update-info h2 {
    font-family: 'VT323', monospace;
    font-size: 45px;
    
    color: #F7F9F9;
}

.card-update-info p {
    font-family: 'VT323', monospace;
    font-size: 28px;
    
    color: #000;
}

.card-update-info h3 {
    font-family: 'VT323', monospace;
    font-size: 32px;
    
    color: #FFFF00;
}

.card-update-button button:hover {
    background-color: #FFF;
    color: #FF0000;
}

.card-update-button {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.card-update-button button {
    width: 220px;
    height: 45px;
    
    font-family: 'VT323', monospace;
    font-size: 28px;
    
    color: #008000;

    background-color: transparent;
    border: #FFF 2px solid;

    border-radius: 5px;

    cursor: pointer;
}

.card-update-button button:hover{
    background-color: #FFF;
    color: #008000;
}

.card-update-button .link {
    text-decoration: none;
    color: #008000;
}