.cart-modal-container {
    width: 600px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 15px;

    background-color: #FFF;
}

.cart-modal-ask-container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.cart-modal-ask-container h1 {
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.cart-modal-button-container {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.cart-modal-button-confirm {
    width: 200px;
    height: 42px;

    font-family: 'VT323', monospace;

    border: none;
    background-color: #00FF00;

    font-size: 28px;
    color: #FFF;

    cursor: pointer;
}

.cart-modal-button-delete {
    width: 200px;
    height: 42px;

    font-family: 'VT323', monospace;

    border: none;
    background-color: #FF0000;

    font-size: 28px;
    color: #FFF;

    cursor: pointer;
}