.management-container{
    width: 100vw;
    height: 100vh; 
}

.management-main{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container h1{
    font-family: 'VT323', monospace;
    font-size: 55px;
}

.report {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.report h2 {
    font-family: 'VT323', monospace;
    font-size: 40px;
}