.management-container{
    width: 100vw;
    height: 100vh; 
}

.management-main{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.clock-container {
    margin-top: 15px;
}

.clock-container h1{
    font-family: 'VT323', monospace;
    font-size: 55px;
}