.side-bar-container {
    width: 20vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: -300px;

    transition: left 0.2s ease-out;

    background-color: #FFDE59;
}

.side-bar-container.active {
    left: 0;
}

/* open header code */

.close-header {
    width: 300px;
    height: 12vh;

    display: flex;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;

    background-color: #FFDE59;
}

.close-header button {
    border: none;
    background-color: transparent;
}

.close-header button img {
    width: 35px;
}

.side-bar {
    height: 68vh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 10px;
    padding-right: 10px;

    gap: 15px;
}

.side-bar .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

    width: 100%;
    height: 60px;

    background-color: #FF0000;

    text-decoration: none;

    padding: 8px;
}

.side-bar .link:hover {
    cursor: pointer;
}

.side-bar .link p {
    font-size: 28px;
    color: #FFF;
    font-family: 'VT323', monospace;
}

.side-bar .link img {
    width: 24px;
}

.logout {
    width: 20vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;

    background-color: #FFDE59;
}

.logout .link {
    text-decoration: none;
}

.logout button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;

    background-color: #FFF;

    font-size: 28px;
    color: #FF0000;
    font-family: 'VT323', monospace;
    border: none;

    cursor: pointer;
}

/* closed header code */

.open-header-container {
    width: 6vw;
    height: 100%;

    background-color: #FFDE59;
}

.open-header {
    width: 6vw;
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;

    background-color: #FFDE59;
}

.open-header button {
    border: none;
    background-color: transparent;
}

.open-header button img {
    width: 38px;
}