* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100vw;
    height: 100vh;

    background-color: #FFDE59;
}

.cart-title {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;

    padding-top: 20px;
    margin-bottom: 20px;
}

.cart-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.cart-item {
    width: 100%;

    padding: 50px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

    background-color: #FFDE59;

    padding-bottom: 80px;
}