.cart-container {
    width: 100vw;
    height: 100vh;

    background-color: #FFDE59;
}

.cart-title-container {
    width: 100%;
    height: 12vh;

    background-color: #FFDE59;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;

    border: none;
    border-bottom: 3px solid #FFF;

    margin-bottom: 15px;
}

.cart-title-container h1 {
    font-family: 'VT323', monospace;
    font-size: 50px;
    font-weight: bold;

    color: #FFF;
}

.cart-item {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;

    background-color: #FFDE59;

    padding-bottom: 50px;
}

.purchase {
    width: 50%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    align-self: center;

    padding: 25px;

    background-color: #FF0000;

    border: #A9A9A9 solid 3px;
    border-radius: 10px;

    position: fixed;
    bottom: 5px;
}

.purchase-value h1 {
    font-family: 'VT323', monospace;
    color: #FFF;

    font-size: 28px;
}

.purchase-value h2 {
    font-family: 'VT323', monospace;

    font-size: 28px;
}

.purchase-value h3 {
    font-family: 'VT323', monospace;

    font-size: 28px;
    
    color: #FFFF00;
}

.purchase-value {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.purchase button {
    width: 280px;
    height: 45px;
    border-radius: 5px;

    font-family: 'VT323', monospace;
    font-size: 28px;
    color: #FFF;

    background-color: transparent;
    border: #FFF 2px solid;

    cursor: pointer;
}

.purchase button:hover {
    background-color: #FFF;
    color: #FF0000;
}
