* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #FFDE59;
}

.cart-title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 15vh;
}

.cart-title-container h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.cart-item {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: center;

    gap: 25px;

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 150px;

    background-color: #FFDE59;
}

.purchase {
    width: 50%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    align-self: center;

    padding: 25px;

    background-color: #FF0000;

    border: #A9A9A9 solid 3px;
    border-radius: 10px;

    position: fixed;
    bottom: 5px;
}

.purchase-value h1 {
    font-family: 'VT323', monospace;
    color: #FFF;

    font-size: 28px;
}

.purchase-value h2 {
    font-family: 'VT323', monospace;

    font-size: 28px;
}

.purchase-value h3 {
    font-family: 'VT323', monospace;

    font-size: 28px;
    
    color: #FFFF00;
}

.purchase-value {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.purchase button {
    width: 280px;
    height: 45px;
    border-radius: 15px;

    font-family: 'VT323', monospace;
    font-size: 28px;
    color: #FFF;

    background-color: transparent;
    border: #FFF 2px solid;

    cursor: pointer;
}

.purchase button:hover {
    background-color: #FFF;
    color: #FF0000;
}