* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    width: 100vw;
    height: 100vh;

    background-color: #FFDE59;
}

.menu-title {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    margin-bottom: 20px;
}

.menu-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.menu-title img {
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: row;   
    align-items: center; 

    position: absolute;
    right: 10px;
}

.menu-icon h2 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

    background-color: #FFDE59;

    padding-bottom: 80px;
}