.alter-items-container-all {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: row;
}

.alter-items-container {
    width: 94vw;

    display: flex;
    flex-direction: column;
}

.alter-items-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    padding: 15px;

    gap: 40px;
}

.cards button {
    width: 200px;
    height: 35px;
    border-radius: 15px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #008000;

    background-color: transparent;
    border: #FFF 2px solid;

    cursor: pointer;
}

.cards button:hover{
    background-color: #FFF;
    color: #008000;
}

.cards .link {
    text-decoration: none;
    color: #008000;
}