body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

textarea:focus, input:focus, select:focus, button:focus, a:focus {
  outline: 0;
}