* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    width: 100vw;
    height: 100vh;

    background-color: #FFDE59;
}

.menu-title-container{
    padding-left: 47vw;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 10vh;

    padding-top: 20px;
    margin-bottom: 20px;
}

.menu-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.menu-title img{
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

    background-color: #FFDE59;

    padding-bottom: 80px;
}

.cards {
    width: 350px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border: #A9A9A9 solid 3px;

    background-color: #FF0000;
}

.cards h2 {
    color: #F7F9F9;
    text-align: center;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

.cards p {
    color: #000;
    text-align: justify;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: large;
}

.cards h3 {
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: x-large;
}


.cards img {
    width: 130px;
}

.cards button {
    width: 200px;
    height: 35px;
    border-radius: 15px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    background-color: transparent;
    border: #FFF 2px solid;
}

.cards button:hover {
    background-color: #FFF;
    color: #FF0000;
}