.requests-all-container {
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.requests-container {
    width: 100vw;

    display: flex;
    justify-content: flex-start;

    gap: 25px;

    flex-wrap: wrap;
}

.request-card {
    width: 360px;
    height: auto;

    background-color: #DCDCDC;

    border-radius: 10px;

    padding-inline: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.request-card h1 {
    font-size: 35px;
    font-family: 'VT323', monospace;

    margin-bottom: 10px;
}

.request-card h2 {
    font-size: 32px;
    font-family: 'VT323', monospace;

    font-weight: 400;

    margin-bottom: 15px;
}

.requests-info {
    width: 100%;

    border: none;
    border-top: 2px solid #000;

    padding-top: 15px;
    padding-bottom: 15px;
}

.requests-info h2 {
    font-size: 32px;
    font-family: 'VT323', monospace;
    font-weight: 500;
}

.requests-info h3 {
    font-size: 32px;
    font-family: 'VT323', monospace;
    font-weight: 500;
}