.requests-all-container {
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.requests-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    gap: 25px;

    flex-wrap: wrap;
}