.createAccount-container {
    background-color: #FFDE59;
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;
}

.createAccount-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 15vh;

    animation: title-appearing-from-up 2s;
}

@keyframes title-appearing-from-up {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0);
    }
}

.createAccount-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.createAccount-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 85vh;

    padding-bottom: 30px;
    padding-top: 30px;
}

.createAccount-main-img img {
    width: 500px;
    animation: img-appearing-from-left 2s;
}

@keyframes img-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-cadastro input {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'VT323', monospace;
    font-size: 35px;
    text-align: center;
    color: #FFF;

    border-top: none;
    border-bottom: 2px solid #FFF;
    border-left: none;
    border-right: none;

    background-color: transparent;
    
    width: 500px;
    height: 60px;

    animation: form-appearing-from-right 2s;
}

@keyframes form-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-cadastro input::placeholder {
    color: #FFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-cadastro button {
    width: 250px;
    height: 50px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    border: none;
    background-color: #FF0000;

    animation: button-form-appearing-from-down 2s;

    cursor: pointer;
}

@keyframes button-form-appearing-from-down {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}

.form-cadastro button:hover {
    color: #FF0000;
    background-color: #FFF;
}

@media (max-width: 1000px) {
    .createAccount-main {
        flex-direction: column;
    }

    .createAccount-title h1 {
        font-size: 85px;
    }

    .form-cadastro input {
        font-size: 38px;

        width: 600px;
        height: 60px;
    }

    .form-cadastro input::placeholder {
        font-size: 38px;
    }

    .createAccount-main-img img {
        width: 550px;
        animation: img-appearing-from-left 2s;
    }

    .form-cadastro button {
        width: 350px;
        height: 75px;

        font-size: 40px;
        color: #FFF;

        animation: button-form-appearing-from-down 2s;
    }
}

@media (max-width: 600px) {
    .createAccount-main {
        flex-direction: column;
    }

    .createAccount-title h1 {
        font-size: 65px;
    }

    .form-cadastro input {
        font-size: 38px;

        width: 450px;
        height: 45px;
    }

    .form-cadastro input::placeholder {
        font-size: 38px;
    }

    .createAccount-main-img img {
        width: 450px;
        animation: img-appearing-from-left 2s;
    }

    .form-cadastro button {
        width: 350px;
        height: 80px;

        font-size: 40px;
        color: #FFF;

        animation: button-form-appearing-from-down 2s;
    }
}