.register-container {
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #FFDE59;
}

.register-header {
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: title-appearing-from-up 2s;
}

@keyframes title-appearing-from-up {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0);
    }
}

.register-header h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'VT323', monospace;

    color: #FFF;
}

.form-register {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-register div img {
    width: 450px;

    animation: img-appearing-from-left 2s;
}

@keyframes img-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.form-register form input {
    width: 500px;
    height: 60px;

    font-family: 'VT323', monospace;
    font-size: 32px;
    text-align: center;
    color: #FFF;

    border: none;
    border-bottom: 2px solid #FFF;

    background-color: transparent;

    animation: form-appearing-from-right 2s;
}

.form-register input::placeholder {
    color: #FFF;
}

@keyframes form-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.form-register button {
    width: 250px;
    height: 60px;

    font-family: 'VT323', monospace;
    font-size: 28px;
    color: #FFF;

    border: none;
    background-color: #FF0000;

    animation: form-appearing-from-right 2s;

    cursor: pointer;
}

.form-register button:hover {
    color: #FF0000;
    background-color: #FFF;
}

@media (max-width: 1000px) {
    .form-register form input {
        width: 380px;
    }
}

@media (max-width: 850px) {
    .register-header {
        height: 15vh;
    }

    .register-header h1 {
        font-size: 55px;
    }

    .form-register {
        height: 80vh;

        flex-direction: column;
        justify-content: center;
    }

    .form-register div img {
        width: 350px;
    }

    .form-register form {
        gap: 20px;
    }

    .form-register form input {
        width: 420px;
        height: 45px;
    }

    .form-register button {
        height: 50px;
    }
}

@media (max-width: 470px) {
    .form-register div img {
        width: 330px;
    }

    .form-register form {
        gap: 15px;
    }

    .form-register form input {
        width: 380px;
        height: 50px;
    }

    .form-register button {
        height: 55px;
    }
}

@media (max-width: 395px) {
    .register-header h1 {
        font-size: 50px;
    }

    .form-register div img {
        width: 290px;
    }

    .form-register form {
        gap: 15px;
    }

    .form-register form input {
        width: 300px;
        height: 50px;
    }

    .form-register button {
        height: 55px;
    }
}

@media (max-width: 350px) {
    .register-header h1 {
        font-size: 45px;
    }
}