.card {
    width: 350px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;

    padding: 30px;

    border: #A9A9A9 solid 3px;
    border-radius: 10px;

    background-color: #FF0000;
}

.cards h2 {
    font-family: 'VT323', monospace;
    font-size: 40px;
    font-weight: bold;
    color: #F7F9F9;

    text-align: center;
}

.cards p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    font-weight: bold;
    color: #000;

    text-align: center;
}

.cards h3 {
    font-family: 'VT323', monospace;
    font-size: 28px;
    font-weight: bold;
    color: #FFFF00;

    text-align: center;
}

.cards img {
    width: 130px;
}

.cards button {
    width: 80%;
    height: 50px;

    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #FFF;

    background-color: transparent;

    border: #FFF 2px solid;
    border-radius: 5px;

    cursor: pointer;
}

.cards button:hover {
    background-color: #FFF;
    color: #FF0000;
}