* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page-container {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #FFDE59;
}

.home-page-header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 15vh;

    animation: header-appearing-from-up 2s;
}

@keyframes header-appearing-from-up {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(0);
    }
}

.home-page-header div {
    display: flex;
    align-items: center;

    gap: 15px;
}

.home-page-header div h1 {
    font-family: 'VT323', monospace;
    font-size: 35px;
    font-weight: bold;
    color: #FFF;
}

.home-page-header div img {
    width: 60px;
    height: 60px;
}

.home-page-header nav {
    display: flex;
    align-items: center;

    gap: 15px;
}

.home-page-header nav p {
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: #FFF;
}

.home-page-header nav h5 {
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: #FFF;
    font-weight: normal;

    background-color: #FF0000;
    padding: 5px;
}

.home-page-header nav h5:hover {
    background-color: #FFF;
    color: #FF0000;
}

.home-page-main {
    width: 100%;
    height: 65vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-page-main h1 {
    font-family: 'VT323', monospace;
    font-size: 80px;
    color: #FFF;

    animation: title-appearing-from-left 2s;
}

@keyframes title-appearing-from-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.home-page-main img {
    width: 300px;
    animation: snacks-appearing-from-right 2s;

    margin-bottom: 15px;
}

@keyframes snacks-appearing-from-right {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.home-page-section {
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-section button {
    width: 200px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    font-family: 'VT323', monospace;
    color: #FFF;

    background-color: #FF0000;

    border: none;
    text-decoration: none;
}

.home-page-section button:hover {
    background-color: #FFF;
    color: #FF0000;
}

.home-page-section button {
    animation: button-appearing-from-down 2s;
}

@keyframes button-appearing-from-down {
    from {
        transform: translateY(400px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (max-width: 750px) {
    .home-page-header {
        height: 25vh;
    }

    .home-page-header div {
        gap: 5px;
    }

    .home-page-header div img {
        width: 60px;
        height: 60px;
    }

    .home-page-header div h1 {
        font-size: 38px;
    }

    .home-page-header nav h5 {
        font-size: 35px;
    }

    .home-page-header nav p {
        display: none;
    }

    .home-page-main {
        height: 55vh;
    }

    .home-page-main h1 {
        font-size: 60px;
    }

    .home-page-main img {
        width: 250px;
    }

    .home-page-section button {
        height: 50px;

        font-size: 30px;
    }
}

@media (max-width: 550px) {
    .home-page-header div img {
        width: 50px;
        height: 50px;
    }

    .home-page-header div h1 {
        font-size: 35px;
    }

    .home-page-header nav h5 {
        font-size: 30px;
    }

    .home-page-main {
        flex-direction: column;
    }

    .home-page-main h1 {
        font-size: 60px;
    }

    .home-page-main img {
        width: 210px;
    }

    .home-page-section button {
        width: 180px;
        height: 50px;

        font-size: 28px;
    }
}

@media (max-width: 420px) {
    .home-page-header div img {
        width: 45px;
        height: 45px;
    }

    .home-page-header div h1 {
        font-size: 30px;
    }

    .home-page-header nav h5 {
        font-size: 25px;
    }

    .home-page-main h1 {
        font-size: 50px;
    }

    .home-page-main img {
        width: 200px;
    }

    .home-page-section button {
        width: 180px;
        height: 40px;

        font-size: 24px;
    }
}

@media (max-width: 350px) {
    .home-page-header div img {
        width: 35px;
        height: 35px;
    }

    .home-page-header div h1 {
        font-size: 25px;   
    }

    .home-page-header nav h5 {
        font-size: 23px;
    }

    .home-page-main h1 {
        font-size: 45px;
    }

    .home-page-main img {
        width: 200px;
    }

    .home-page-section button {
        width: 180px;
        height: 40px;

        font-size: 24px;
    }
}