.menu-container-all {
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.menu-container {
    width: 94vw;

    display: flex;
    flex-direction: column;   
}

.cards-container {
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    padding: 15px;

    gap: 40px;
}